.search {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF;
    border-radius: 79px;
    width: 383px;
    height: 47px;
    padding: 11px 16px;
    box-sizing: border-box;
    margin-right:84px;
}

.search input {
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    border-radius: 79px;
    margin-left: 16px;
    color: #C9C9C9;
}

.search input[placeholder] {
    color: #000000;
    font-family: Helvetica;
    font-size: 20px;
}
@media screen and (min-width:1024px) and (max-width:1440px) {
    .search {
        width: 100%;
    }
}